@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url(hintergrund.jpg) no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-card {
    position: relative;
    height: 75%;
    width: 90%;
    background-color: #F7F7F7;
    margin: 10px auto 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    min-height: 70vh;
    opacity: 0.955;
}
.teilen-left {background-color: #19CC95;}
.teilen-right {background-color: #2c9dff;}

.index-card div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-card h1 {
    color: #F7F7F7;
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;
}
.index-card h2 {
    font-weight: 100;
    margin:15px;
    text-align: left;
    font-size: 1em;
}

.login-card {
    position: relative;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    height: 75%;
    width: 50%;
    background-color: #F7F7F7;
    margin: 10px auto 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 40px;
}
.login-card h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;

}
.login-card h2 {
    font-weight: 100;
    margin:15px;
    text-align: left;
    font-size: 1em;
}

.konto {
    position: relative;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    height: 75%;
    width: 15%;
    min-width: 150px;
    background-color: #F7F7F7;
    margin: 10px 30px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 40px;
    float: left;
    right: 0;
}
.konto h1 {
    font-weight: 100;
    text-align: center;
    font-size: 1.8em;
}
.konto h2 {
    font-weight: 700;
    text-align: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.63);
    border-radius: 15px;
    outline: none;
    display: block;
    padding: 5px 15px;
    border-bottom: 2px solid #e1e1e1;
    margin: 0 auto 15px;
    margin-bottom: 10px;
    background-color: #ebebeb;
}
.konto h3 {
    font-weight: 100;
    text-align: left;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.63);
    border-radius: 15px;
    outline: none;
    display: block;
    padding: 5px 15px;
    border-bottom: 2px solid #ebebeb;
    margin: 0 auto 15px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.admin_werden_btn {
    outline: none;
    height: 40px;
    margin-bottom: 10px;
    width: 47.5%;
    background-color: #F7F7F7;
    color: #2c9dff;
    padding: 10px;
    border: 2px solid #2c9dff;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.admin_werden_btn:hover {
  color: white;
  background: #2c9dff;
}
.admin_werden_btn:active {
  letter-spacing: 2px;
}

.ange_werden_btn {
    outline: none;
    height: 40px;
    margin-bottom: 10px;
    width: 50%;
    background-color: #F7F7F7;
    color: #2c9dff;
    padding: 10px;
    border: 2px solid #2c9dff;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.ange_werden_btn:hover {
  color: white;
  background: #2c9dff;
}
.ange_werden_btn:active {
  letter-spacing: 2px;
}

.bucher {
    position: relative;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    height: 75%;
    width: 60%;
    min-width: 200px;
    background-color: #F7F7F7;
    margin: 10px 0px 10px 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 40px;
    float: left;
}
.bucher h1 {
    font-weight: 100;
    text-align: center;
    font-size: 2.3em;

}
.bucher h2 {
    font-weight: 100;
    margin:15px;
    text-align: left;
    font-size: 1em;
}

.input {
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;

}

.suche{
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    height: 50px;
    margin: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;

}
.such_kategorie{
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 25%;
    height: 50px;
    margin: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    overflow-y :auto;

}
input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color: black;
    font-weight: 100%;
    margin-right: 8px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background: #ababab;
    cursor:pointer;
    border-bottom: 2px solid #6e6e6e;
    border-radius:15px;
}

input[type="radio"]:checked + label span {
    background:#2c9dff -57px top no-repeat;
    border-bottom: 2px solid #1e6cad;

}

.radio_kasten{
    margin-left: 15px;
}

.klein_eingabe{
    font-family: 'Roboto', sans-serif;
    outline: none;
    width: 100%;
    height: 30px;
    margin: 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;

}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: 'Roboto', sans-serif;

}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.menu_button {

    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #ffffff;
    font-size:30px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
}
.menu_button:hover {
    cursor:pointer;
    background: rgba(0, 0, 0, 0.95);
}
.inputButton {
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #1ECD97;
    color: #F7F7F7;
    padding: 10px;
    border: 2px solid #19CC95;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.inputButton:hover {
  color: #F7F7F7;
  background: #19CC95;


}
.inputButton:active {
  letter-spacing: 2px;
}

.blueinputButton {
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #2c9dff;
    color: #F7F7F7;
    padding: 10px;
    border: 2px solid #2c9dff;;
    border-radius: 60px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.blueinputButton:hover {
  color: white;
  background: #2c9dff;
}
.blueinputButton:active {
  letter-spacing: 2px;
}

/* Ausgeliehene Bucher */


#ausgeliehene_bucher {
    font-family: Roboto, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: 200;
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #ebebeb;
    border-right: 2px solid #ebebeb;
}

#ausgeliehene_bucher td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#ausgeliehene_bucher tr:nth-child(even){background-color: #f2f2f2;}

#ausgeliehene_bucher tr:hover {background-color: #ddd;}

#ausgeliehene_bucher th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.63);
}

.bearbeiten_btn {
    width: 100%;
    min-height: 35px;
    font-size: 13px;
    padding: 0 15px;
    background: #2c9dff;
    border: #2c9dff;
    border-radius: 3px;
    color: #fafafa;
    cursor: pointer;
    outline: none;
}
.bearbeiten_btn:hover {
  color: #fafafa;
  background: #2a8ae4;
}

input[type='checkbox']{
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid $border-white;
    cursor: pointer;

}






