{% extends "layout.html" %}
{% block body %}

<div id="main">
    <form method="post">

    <div class="bucher">
        <h1>Adminbereich</h1>
         <div>
                <select name="such_kategorie" class="such_kategorie" >
                    <option value="vorname">Vorname</option>
                    <option value="nachname">Nachname</option>
                    <option value="matrikelnummer">Matrikelnummer</option>
                    <option value="status">Status</option>
                </select>

                <input type="search"
                    name="suche"
                    placeholder="Suchen"
                    class="suche"
                    autofocus="autofocus"
                    oninvalid= "this.setCustomValidity('Suchinformationen eingeben')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-Z0-9ÄÖÜäöüß. ]+"
                    style="width: 73%; margin-left: 5px"/>
         </div>

        <table id="ausgeliehene_bucher">
            {% if benutzer != [] %}
              <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Matrikelnummer</th>
                <th>Status</th>
                <th style="text-align: center">Anfrage zum</th>
                <th style="text-align: center">Löschen</th>
                <th style="text-align: center">Freigeben / Blockieren</th>

              </tr>
            {%endif %}

        {% for nutzer in benutzer %}
            <tr>
                <td> {{ nutzer [2] }}</td>
                <td> {{ nutzer [1] }} </td>
                <td> {{ nutzer [3] }} </td>
                {% if nutzer [4] == 1%}
                    <td>Student</td>
                {% endif %}
                {% if nutzer [4] == 2%}
                    <td>Angestellter</td>
                {% endif %}
                {% if nutzer [4] == 3%}
                    <td>Admin</td>
                {% endif %}
                {% if nutzer [4] == 0%}
                    <td>Blockiert</td>
                {% endif %}

                {% if nutzer[5] == 1 %}<td style="text-align: center">Student</td>{% endif %}
                {% if nutzer[5] == 2 %}<td style="text-align: center">Angestelllten</td>{% endif %}
                {% if nutzer[5] == 3 %}<td style="text-align: center">Admin</td>{% endif %}
                {% if nutzer[5] == None %}<td style="text-align: center">&#x2718;</td>{% endif %}
                {% set status_zahl = nutzer[5] | int %}
                <td>
                    <form action="{{ url_for('delete_nutzer', id=nutzer[0]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x1f5d1;"
                               style="background: #ff5c4d; border: #ff5c4d">
                    </form>
                </td>
                {% if nutzer[5]!= None %}
                <td>
                    <form action="{{ url_for('status_freigeben', id=status_zahl, mat= nutzer[3]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x21b7;"
                               style="background: #1ECD97; border: #1ECD97;">
                    </form>
                </td>
                {% endif %}
                {% if nutzer[5]== None %}
                <td>
                    <form action="{{ url_for('status_freigeben', id=status_zahl, mat= nutzer[3]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x21b7;"
                               style="background: #ff5c4d; border: #ff5c4d;">
                    </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="konto">
            <h1>Hier evtl was zusätzliches?</h1>

    </div>
    </form>

</div>
{% endblock %}