{% extends "layout.html" %}
{% block body %}

<div id="main">
    <form method="post">

    <div class="bucher">
        <h1>Bücherverwaltung</h1>
         <div>
                <select name="such_kategorie" class="such_kategorie" >
                    <option value="titel">Buchtitel</option>
                    <option value="autor">Autor</option>
                    <option value="beschreibung">Beschreibung</option>
                    <option value="erscheinungsjahr">Erscheinungsjahr</option>
                </select>

                <input type="search"
                    name="suche"
                    placeholder="Suchen"
                    class="suche"
                    autofocus="autofocus"
                    oninvalid= "this.setCustomValidity('Suchinformationen eingeben')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-Z0-9ÄÖÜäöüß. ]+"
                    style="width: 73%; margin-left: 5px"/>
         </div>

        <table id="ausgeliehene_bucher">
            {% if bucher_auswahl != [] %}
              <tr>
                <th>Buchtitel</th>
                <th>Autor</th>
                <th>Beschreibung</th>
                <th>Erscheinungsjahr</th>
                <th style="text-align: center">Ändern</th>
                <th style="text-align: center">Löschen</th>
                <th style="text-align: center">Freigeben</th>

              </tr>
            {%endif %}

        {% for buch in buecher %}
            <tr>
                <td> {{ buch [1] }}</td>
                <td> {{ buch [2] }} </td>
                <td style="text-align: justify;"> {{ buch [3] }} </td>
                <td> {{ buch [4] }} </td>

                <td>
                    <form action="{{ url_for('editBuch',  id=buch[0]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x270e;">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('deleteBuch',  id=buch[0]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x1f5d1;"
                               style="background: #ff5c4d; border: #ff5c4d">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('zuruckgeben',  id=buch[0]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="&#x21b7;"
                               style="background: #1ECD97; border: #1ECD97;">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="konto">
            <h1>Buch eintragen</h1>
            <h2>Buchtitel</h2>
                <input type="text"
                    name="titel"
                    placeholder="Buchtitel eingeben"
                    class="klein_eingabe"
                    autofocus="autofocus"
                    oninvalid="this.setCustomValidity('Buchtitel eingeben!')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-ZÄÖÜäöüß,. ]+"/>
            <h2>Autor</h2>
                <input type="text"
                    name="autor"
                    placeholder="Autor eingeben"
                    class="klein_eingabe"
                    autofocus="autofocus"
                    oninvalid="this.setCustomValidity('Autor angeben!')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-ZÄÖÜäöüß ]+"/>
            <h2>Beschreibung</h2>
                <input type="text"
                    name="beschreibung"
                    placeholder="Beschreibung eingeben"
                    class="klein_eingabe"
                    autofocus="autofocus"
                    oninvalid="this.setCustomValidity('Beschreibung angeben!')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-ZÄÖÜäöüß,. ]+"/>
            <h2>Erscheinungsjahr</h2>
                <input type="text"
                    name="erscheinungsjahr"
                    placeholder="Erscheinungsjahr angeben"
                    class="klein_eingabe"
                    autofocus="autofocus"
                    onKeyPress="if(this.value.length==4) return false;"
                    oninvalid="this.setCustomValidity('Erscheinungsjahr eingeben!')"
                    pattern="[0-9]+"/>

            <select name="fakultat"  class="such_kategorie"
                    style="width: 100%; height: 35px; color: rgba(0, 0, 0, 0.63);
                    font-weight: 700; text-align: left; font-size: 0.8em;">
                <option value="" selected>Fakultät wählen</option>
                <option value="Mechanik_und_Elektronik">Mechanik und Elektronik</option>
                <option value="Technische_Prozesse">Technische Prozesse</option>
                <option value="Informatik">Informatik</option>
                <option value="Wirtschaft_und_Verkehr">Wirtschaft und Verkehr</option>
            </select>
            <select name="studiengang" class="such_kategorie"
                    style="width: 100%; height: 35px; color: rgba(0, 0, 0, 0.63);
                    font-weight: 700; text-align: left; font-size: 0.8em;">
                <option value="" selected>Studiengang wählen</option>
                <option value="Automotive_Systems_Engineering">Automotive Systems Engineering</option>
                <option value="Maschinenbau">Maschinenbau</option>
                <option value="Mechatronik_und_Robotik">Mechatronik und Robotik</option>
                <option value="Produktion_und_Prozessmanagement">Produktion und Prozessmanagement</option>
                <option value="Verfahrens_und_Umwelttechnik">Verfahrens- und Umwelttechnik</option>
                <option value="Angewandte_Informatik">Angewandte Informatik</option>
                <option value="Software_Engineering">Software Engineering</option>
                <option value="Betriebswirtschaft_und_Unternehmensführung">Betriebswirtschaft und Unternehmensführung</option>
                <option value="Verkehrsbetriebswirtschaft">Verkehrsbetriebswirtschaft</option>
                <option value="Wirtschaftsinformatk">Wirtschaftsinformatk</option>
            </select>

            <input type="submit" value="Buch hinzufügen" style="border-radius: 15px" class="bearbeiten_btn">
    </div>
    </form>

</div>
{% endblock %}