{% extends "layout.html" %}
{% block body %}

<div id="main">
    <form method="post">

    <div class="bucher" style="width: 90%;">
        <h1>Bücher - Suchmaske</h1>
         <div>
                <select name="such_kategorie" class="such_kategorie" >
                    <option value="titel">Buchtitel</option>
                    <option value="autor">Autor</option>
                    <option value="beschreibung">Beschreibung</option>
                    <option value="erscheinungsjahr">Erscheinungsjahr</option>
                </select>

                <input type="search"
                    name="suche"
                    placeholder="Suchen"
                    class="suche"
                    autofocus="autofocus"
                    oninvalid= "this.setCustomValidity('Suchinformationen eingeben')"
                    oninput="this.setCustomValidity('')"
                    pattern="[a-zA-Z0-9ÄÖÜäöüß. ]+"
                    style="width: 73%; margin-left: 5px"/>
         </div>
                    <div class="radio_kasten">
                        <input type="radio" id="r1" name="empf" value="faku" />
                        <label for="r1" style="width: 100%; height: 35px; color: rgba(0, 0, 0, 0.63);
                                font-weight: 500; text-align: left; font-size: 0.8em;">
                            <span></span>Fakultät-Empfehlungen
                        </label>

                        <input type="radio" id="r2" name="empf" value="stud"/>
                        <label for="r2"
                               style="width: 100%; height: 35px; color: rgba(0, 0, 0, 0.63);
                                font-weight: 500; text-align: left; font-size: 0.8em;">
                            <span></span>Studiengang-Empfehlungen
                        </label>
                        <input class="bearbeiten_btn"
                               style="width: 50px; background: #ababab; border: #ababab
                               border-bottom: 2px solid #848484; border-radius:5px;"
                               type="submit" value="&#xbb;">
                        <p></p>
                    </div>
        <table id="ausgeliehene_bucher">
            {% if bucher_auswahl != [] %}
              <tr>
                <th>Buchtitel</th>
                <th>Autor</th>
                <th>Beschreibung</th>
                <th>Erscheinungsjahr</th>
                <th style="text-align: center;">Verfügbarkeit</th>
                <th style="text-align: center;">Abgabefrist</th>

              </tr>
            {%endif %}

        {% for buch in buecher %}
            <tr>
                <td> {{ buch [1] }}</td>
                <td> {{ buch [2] }} </td>
                <td style="text-align: justify;"> {{ buch [3] }} </td>
                <td> {{ buch [4] }} </td>

            {% if buch[5] == None %}
                <td>
                    <form action="" method="GET">
                        <input class="bearbeiten_btn" style="background: #1ECD97; border: #19CC95; cursor: default;" type="submit" value="&#x2714;">
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('ausleihen',  id=buch[0]) }}" method="GET">
                        <input class="bearbeiten_btn"  type="submit" value="ausleihen">
                    </form>
                </td>
            {%endif %}
            {% if buch[5] != None %}
                <td>
                    <form action="" method="GET">
                        <input class="bearbeiten_btn" style="background: #ff5c4d; border: #ff5c4d; cursor: not-allowed;" type="submit" value="&#x2718;">
                    </form>
                </td>
                <td style="text-align: center;">{{ buch [8].strftime('%d-%m-%Y %H:%M:%S')}}</td>
            {%endif %}

            </tr>
        {% endfor %}
        </table>
    </div>

    </form>

</div>
{% endblock %}