{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="login-card">
	    {% for buch in buecher %}
			<form action="{{ url_for('editBuch',id=buch[0]) }}" method="POST">
                <h1>Buchbearbeitung</h1>

                <div>
                    <h2>Buchtitel</h2>
                    <input type="text"
                           name="titel"
                           placeholder="Buchtitel"
                           autofocus="autofocus"
                           class="input pass"
                           value="{{ buch[1] }}"
                           pattern="[a-zA-ZÄÖÜäöüß, -]+"/>
                </div>

                <div>
                    <h2>Autor</h2>
                    <input type="text"
                           name="autor"
                           placeholder="Autor"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ buch[2] }}"
                           required="required"
                           pattern="[a-zA-ZÄÖÜäöüß ]+"/>
                </div>

                <div>
                    <h2>Beschreibung</h2>
                    <input type="text"
                           name="beschreibung"
                           placeholder="Beschreibung"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ buch[3] }}"
                           required="required"
                           pattern="[a-zA-ZÄÖÜäöüß,. -]+"/>
                </div>

                <div>
                    <h2>Erscheinungsjahr</h2>
                    <input type="text"
                           name="erscheinungsjahr"
                           placeholder="Erscheinungsjahr"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ buch[4] }}"
                           onKeyPress="if(this.value.length==4) return false;"
                           required="required"
                           oninvalid="this.setCustomValidity('Erscheinungsjahr eingeben!')"
                           pattern="[0-9]+"/>
                </div>

                <h2>Fakultät I Studiengang I Semester</h2>
                <select name="fakultat"  class="such_kategorie" style="width: 50%;">
                    <option value="{{ buch [6] }}" selected>{{ buch [6] }}</option>
                    <option value="Mechanik_und_Elektronik">Mechanik und Elektronik</option>
                    <option value="Technische_Prozesse">Technische Prozesse</option>
                    <option value="Informatik">Informatik</option>
                    <option value="Wirtschaft_und_Verkehr">Wirtschaft und Verkehr</option>
                </select>
                <select name="studiengang" class="such_kategorie" style="width: 49%;">
                    <option value="{{ buch [7] }}" selected>{{ buch [7] }}</option>
                    <option value="Automotive_Systems_Engineering">Automotive Systems Engineering</option>
                    <option value="Maschinenbau">Maschinenbau</option>
                    <option value="Mechatronik_und_Robotik">Mechatronik und Robotik</option>
                    <option value="Produktion_und_Prozessmanagement">Produktion und Prozessmanagement</option>
                    <option value="Verfahrens_und_Umwelttechnik">Verfahrens- und Umwelttechnik</option>
                    <option value="Angewandte_Informatik">Angewandte Informatik</option>
                    <option value="Software_Engineering">Software Engineering</option>
                    <option value="Betriebswirtschaft_und_Unternehmensführung">Betriebswirtschaft und Unternehmensführung</option>
                    <option value="Verkehrsbetriebswirtschaft">Verkehrsbetriebswirtschaft</option>
                    <option value="Wirtschaftsinformatk">Wirtschaftsinformatk</option>
                </select>

                <input type="submit" value="Buchinformationen aktualisieren" class="inputButton">


			</form>
	    {% endfor %}
    </div>
</div>




{% endblock %}