{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="login-card" style="padding-bottom:0px; width: 70%; opacity: 0.9;">
        <h1>Studierendenbibliothek der Hochschule Heilbronn</h1>
    </div>

    <div class="index-card">

            <div class="teilen-left">
                <h1>Ich habe ein Konto </h1>
                <form action="{{url_for('login')}}" method="GET">
                    <input type="submit" value="Anmelden" class="blueinputButton">
                </form>
            </div>

            <div class="teilen-right">
                <h1>Ich habe kein Konto</h1>
                <form action="{{url_for('registrierung')}}" method="GET">
                    <input type="submit" value="Registrieren" class="inputButton">
                </form>
            </div>
    </div>

</div>

{% endblock %}


