{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="login-card">
	    {% for info in konto_info %}
			<form action="{{ url_for('konto_einstellungen') }}" method="POST">
                <h1>Kontoinformationen ändern</h1>
                <div>
                    <h2>Vorname</h2>
                    <input type="text"
                           name="vorname"
                           placeholder="Vorname"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ info[0] }}"
                           pattern="[a-zA-ZÄÖÜäöüß]+"/>

                </div>
                <div>
                    <h2>Nachname</h2>
                    <input type="text"
                           name="nachname"
                           placeholder="Nachname"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ info[1] }}"
                           required="required"
                           pattern="[a-zA-ZÄÖÜäöüß]+"/>
                </div>
                <div>
                    <h2>E-Mail</h2>
                    <input type="text"
                           name="email"
                           placeholder="E-Mail"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ info[2] }}"
                           required="required"/>
                </div>
                <div>
                    <h2>Passwort ändern</h2>
                    <input type="password"
                           name="passwort"
                           placeholder="Passwort eingeben"
                           class="input pass"
                           autofocus="autofocus"
                           value="{{ request.form.passwort }}"
                           oninvalid="this.setCustomValidity('Passwort auswählen!')"
                           oninput="this.setCustomValidity('')"/>
                </div>
                <div>
                    <input type="password"
                           name="passwort2"
                           placeholder="Passwort wiederholen"
                           class="input pass"
                           autofocus="autofocus"

                           oninvalid="this.setCustomValidity('Passwort erneut eingeben!')"
                           oninput="this.setCustomValidity('')"/>
                </div>

                <h2>Fakultät I Studiengang I Semester</h2>
                <select name="fakultat"  class="such_kategorie" style="width: 35%;">
                    <option value="{{ info [4] }}" selected>{{ info [4] }}</option>
                    <option value="Mechanik_und_Elektronik">Mechanik und Elektronik</option>
                    <option value="Technische_Prozesse">Technische Prozesse</option>
                    <option value="Informatik">Informatik</option>
                    <option value="Wirtschaft_und_Verkehr">Wirtschaft und Verkehr</option>
                </select>
                <select name="studiengang" class="such_kategorie" style="width: 53%;">
                    <option value="{{ info [5] }}" selected>{{ info [5] }}</option>
                    <option value="Automotive_Systems_Engineering">Automotive Systems Engineering</option>
                    <option value="Maschinenbau">Maschinenbau</option>
                    <option value="Mechatronik_und_Robotik">Mechatronik und Robotik</option>
                    <option value="Produktion_und_Prozessmanagement">Produktion und Prozessmanagement</option>
                    <option value="Verfahrens_und_Umwelttechnik">Verfahrens- und Umwelttechnik</option>
                    <option value="Angewandte_Informatik">Angewandte Informatik</option>
                    <option value="Software_Engineering">Software Engineering</option>
                    <option value="Betriebswirtschaft_und_Unternehmensführung">Betriebswirtschaft und Unternehmensführung</option>
                    <option value="Verkehrsbetriebswirtschaft">Verkehrsbetriebswirtschaft</option>
                    <option value="Wirtschaftsinformatk">Wirtschaftsinformatk</option>
                </select>
                <select name="semester" class="such_kategorie" style="width: 10%;" >
                    <option value="{{ info [6] }}" selected>{{ info [6] }}</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <input type="submit" value="Kontoinformationen aktualisieren" class="inputButton">
			</form>
            {% if info[3] == 0%}
                <form action="{{ url_for('status_anfrage',  stat=1) }}" method="GET">
                    <input type="submit" value="Freischaltung beantragen" style="margin-top: 10px; width: 100%" class="admin_werden_btn">
                </form>
            {% endif %}

            {% if info [3] == 1%}
                <form action="{{ url_for('status_anfrage',  stat=3) }}" method="GET">
                    <input type="submit" value="Admin-Status beantragen" style="margin-top: 10px;width: 100%" class="admin_werden_btn" >
                </form>
                <form action="{{ url_for('status_anfrage',  stat=2) }}" method="GET">
                    <input type="submit" value="Angestellten-Status beantragen" style="width: 100%" class="ange_werden_btn">
                </form>

            {% endif %}


            {% if info[3] == 2%}
                <form action="{{ url_for('status_anfrage',  stat=3) }}" method="GET">
                    <input type="submit" value="Admin-Status beantragen" style="margin-top: 10px; width: 100%" class="admin_werden_btn">
                </form>
            {% endif %}

	    {% endfor %}
    </div>
</div>

{% endblock %}