<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studierendenbibliothek</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
</head>

<body>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <a href={{ url_for("index") }}>Startseite</a>
        <a href={{ url_for("buchersuche") }}>Büchersuche</a>
        <a href={{ url_for("mein_konto") }}>Mein Konto</a>
        <a href={{ url_for("admin_seite") }}>Adminbereich</a>
        <a href={{ url_for("bucheingabe") }}>Bücherverwaltung</a>
        <a href={{ url_for("uberuns") }}>Über uns</a>
        <a href={{ url_for("dropsession") }}>Abmelden</a>

    <a>{{ time }}</a>
</div>

<span
        class="menu_button"
        onclick="openNav()">&#9776;
</span>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="bearbeiten_btn" style="margin-left: 30%; margin-right: 30%;
                width: auto; padding-top: 15px; text-align: center; background: #ff5c4d;
                border: #ff5c4d; opacity: 0.85;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



{% block body %} {% endblock %}
</body>
</html>
