{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="login-card">
        <form method="post">
        <h1>Konto-Anmeldung</h1>
        <h2>Füllen Sie die nachfolgenden Felder aus.</h2>
        <div>
            <input type="number"
                   name="matrikelnummer"
                   placeholder="Matrikelnummer"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.matrikelnummer }}"
                   min="1" max="9999"
                   onKeyPress="if(this.value.length==4) return false;"
                   onKeyUp="if(this.value<1){this.value='';}"
                   required="required"
                   oninvalid="this.setCustomValidity('Matrikelnummer eingeben!')"
                   oninput="this.setCustomValidity('')"/>
        </div>


        <div>
            <input type="password"
                   name="passwort"
                   placeholder="Passwort eingeben"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.passwort }}"
                   required="required"
                   oninvalid="this.setCustomValidity('Passwort auswählen!')"
                   oninput="this.setCustomValidity('')"/>
        </div>



        <input type="submit" value="Anmelden" class="inputButton">


        </form>
    </div>
</div>

{% endblock %}