
{% extends "layout.html" %}
{% block body %}

<div id="main">

    <div class="bucher">
        <form method="post">
        <h1>Meine ausgeliehenen Bücher</h1>

        <table id="ausgeliehene_bucher">
            {% if bucher_auswahl != [] %}
              <tr>
                <th>Buchtitel</th>
                <th>Autor</th>
                <th>Beschreibung</th>
                <th>Erscheinungsjahr</th>
                <th style="text-align: center;">Abgabefrist</th>
              </tr>
            {% endif %}

            {% for buch in bucher_auswahl %}
                <tr>
                    <td>{{ buch [1] }}</td>
                    <td>{{ buch [2] }}</td>
                    <td style="text-align: justify;">{{ buch [3] }}</td>
                    <td>{{ buch [4] }}</td>
                    <td style="text-align: center;">{{ buch [8].strftime('%d-%m-%Y %H:%M:%S')}}</td>
                    <td>
                        <form action="{{ url_for('mein_konto',  id=buch[0]) }}" method="GET">
                            <input class="bearbeiten_btn"  style="background: #ff5c4d; border: #ff5c4d"
                                   type="submit" value="&#xbb;">
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
        </form>
    </div>

    <div class="konto">
            <h1>Angemeldet</h1>
            <h2>Vorname</h2>
            <h3>{{ benutzer_info [0][1]}}</h3>
            <h2>Nachname</h2>
            <h3>{{ benutzer_info [0][0]}}</h3>
            <h2>Matrikelnummer</h2>
            <h3>{{ benutzer_info [0][2]}}</h3>
            <h2>Status</h2>
            {% if benutzer_info [0][3] == 0%}
                <h3>Blockiert</h3>
            {% endif %}

            {% if benutzer_info [0][3] == 1%}
                <h3>Student</h3>
            {% endif %}

            {% if benutzer_info [0][3] == 2%}
                <h3>Angestellter</h3>
            {% endif %}

            {% if benutzer_info [0][3] == 3%}
                <h3>Admin</h3>
            {% endif %}


            <form action="{{url_for('konto_einstellungen')}}" method="GET">
                <input type="submit" value="Konto bearbeiten" style="margin-bottom: 10px; border-radius: 15px" class="bearbeiten_btn">
            </form>

        <form action="{{url_for('dropsession')}}" method="GET">
            <input type="submit" value="Abmelden" class="inputButton">
        </form>
    </div>


</div>

{% endblock %}
