{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="login-card">
        <form method="post">
        <h1>Registrierung</h1>
        <h2>Füllen Sie die nachfolgenden Felder aus.</h2>

        <div>
            <input type="text"
                   name="vorname"
                   placeholder="Vorname"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.vorname }}"
                   required="required"
                   oninvalid="this.setCustomValidity('Vorname eingeben!')"
                   oninput="this.setCustomValidity('')"/>

        </div>

        <div>
            <input type="text"
                   name="nachname"
                   placeholder="Nachname"
                   class="input pass"
                   autofocus="autofocus"
                   required="required"
                   oninvalid="this.setCustomValidity('Nachname eingeben!')"
                   oninput="this.setCustomValidity('')"/>
        </div>

        <div>
            <input type="number"
                   name="matrikelnummer"
                   placeholder="Matrikelnummer"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.matrikelnummer }}"
                   min="1" max="9999"
                   onKeyPress="if(this.value.length==4) return false;"
                   onKeyUp="if(this.value<1){this.value='';}"
                   required="required"
                   oninvalid="this.setCustomValidity('Matrikelnummer eingeben!')"
                   oninput="this.setCustomValidity('')"/>
        </div>

        <div>
            <input type="email"
                   name="email"
                   placeholder="E-Mail"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.email }}"
                   required="required"/>
        </div>

        <div>
            <input type="password"
                   name="passwort"
                   placeholder="Passwort eingeben"
                   class="input pass"
                   autofocus="autofocus"
                   value="{{ request.form.passwort }}"
                   required="required"
                   oninvalid="this.setCustomValidity('Passwort auswählen!')"
                   oninput="this.setCustomValidity('')"/>
        </div>
        <div>
            <input type="password"
                   name="passwort2"
                   placeholder="Passwort wiederholen"
                   class="input pass"
                   autofocus="autofocus"
                   required="required"
                   oninvalid="this.setCustomValidity('Passwort erneut eingeben!')"
                   oninput="this.setCustomValidity('')"/>

        </div>


        <input type="submit" value="Registrieren" class="inputButton">


        </form>
    </div>
</div>

{% endblock %}