{% extends "layout.html" %}
{% block body %}

<div id="main">
    <div class="bucher" style="width: 90%">
        <form method="post">
        <h1>Wir über uns</h1>
        <table id="ausgeliehene_bucher">
              <tr>
                <th>Die Studierendenbibliothek Heilbronn</th>

              </tr>

                <tr>
                    <td style="width: 50%;line-height: 20px;text-align: justify;">Zu einem erfolgreichen Studium gehört weitaus mehr als nur ein exzellentes Lehrangebot.
                        Als innovatives Dienstleistungsunternehmen bietet das Studierendenwerk Heidelberg optimale Rahmenbedingungen für die Hochschulausbildung.
                        Rund 600 hauptamtliche Mitarbeiterinnen und Mitarbeiter und etwa 300 studentische Hilfskräfte des Studierendenwerks richten all ihre
                        Leistungen auf die Bedürfnisse der Studierenden aus. Die Mensen und Cafés bieten nicht nur modernste Gastronomie, sondern sind zudem
                        beliebter Treffpunkt für Studierende aus der ganzen Welt. In fast 70 Wohnheimen finden rund 5.000 Studierende eine Unterkunft.
                        Das Studierendenwerk Heidelberg unterhält Kindertagesstätten für knapp 300 Kinder im Alter von zwei Monaten bis sechs Jahren.
                        In der Abteilung Studienfinanzierung werden Studierende durch Expertinnen und Experten kompetent zu BAföG und anderen Finanzierungsquellen
                        beraten. Die Psychosoziale Beratung für Studierende (PBS), die Sozialberatung und die Rechtsberatung sind wichtige Anlaufstellen für all
                        jene, die sich in einer schwierigen Situation befinden. Das ServiceCenter in der Triplex-Mensa und das InfoCafé International (ICI) in der
                        Zentralmensa versorgen Studierende mit wichtigen Informationen und nützlichen Tipps rund um den Studienalltag. Das ICI ist mit seinen
                        Serviceangeboten auch erster Anlaufpunkt für internationale Studierende in Heidelberg und die kulturellen Veranstaltungen des
                        Studierendenwerks sind zu einer tragenden Säule des Heidelberger Kulturangebotes für Studierende geworden.
                    </td>
                </tr>

        </table>

        <h1>Öffnungszeiten</h1>
        <table id="ausgeliehene_bucher">
              <tr>
                <th>Alle Infos für dich</th>
                <th></th>
                <th style="text-align: center">Mo - Fr</th>
                <th style="text-align: center">Samstag</th>
                <th style="text-align: center">Sonntag</th>
              </tr>

                <tr>
                    <td>Gebäude</td>
                    <td style="width: 50%;line-height: 20px;">Im genannten Zeitraum sind die Gebäude der UB am Europaplatz und Sontheim für Sie zugänglich.</td>
                    <td style="text-align: center">08.00 - 24.00</td>
                    <td style="text-align: center">10.00 - 24.00</td>
                    <td style="text-align: center">10.00 - 24.00</td>
                </tr>
                <tr>
                    <td>Leihstelle</td>
                    <td style="width: 50%;line-height: 20px;">Die Mitarbeiter der Leihstelle stehen Ihnen zu den genannten Zeiten zur Verfügung.</td>
                    <td style="text-align: center">08.00 - 18.00</td>
                    <td style="text-align: center">10.00 - 15.00</td>
                    <td style="text-align: center">nicht besetzt</td>
                </tr>
                <tr>
                    <td>Information / Auskunft</td>
                    <td style="width: 50%;line-height: 20px;">Die Mitarbeiter der Auskunft stehen Ihnen zu den genannten Zeiten für Fragen zur Verfügung.</td>
                    <td style="text-align: center">10.00 - 15.30</td>
                    <td style="text-align: center">nicht besetzt</td>
                    <td style="text-align: center">nicht besetzt</td>
                </tr>
                <tr>
                    <td>Magazin-Sofortausleih</td>
                    <td style="width: 50%;line-height: 20px;">Im genannten Zeitraum erhalten Sie Medien aus dem Magazin vor Ort innerhalb weniger Minuten bereitgestellt.
                        Bei Bestellungen aus einem entfernten Magazin kann es durch den Transport zwischen den Standorten zu längeren Wartezeiten kommen.</td>
                    <td style="text-align: center">10.00 - 15.30</td>
                    <td style="text-align: center">10.00 - 14.30</td>
                    <td style="text-align: center">nicht besetzt</td>
                </tr>
        </table>
        </form>
    </div>
</div>

{% endblock %}

